html {
  scroll-behavior: smooth;
}

.container-nav-menu {
  background-image: url("./src/img/icons/background.png");
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
  /* background-repeat: round; */
}

.container-menu {
  height: 580px;
}

.container-menu button {
  /* width: 260px; */
  border-radius: 25px;
  /* gap: 15px; */
}

.container-menu a:hover {
  text-decoration: none;
}
/* .container-menu button:hover {
  background-color: #007fff;
  
}

.container-menu button:active {
background-color: #0058b1;
}
.container-menu button:focus-visible {
  background-color: #0058b1;
  } */

.container-services {
  background-color: #161616;
}

.container-products {
  /* background-image: url("./src/img/icons/background2.png");
  background-size: cover;
  background-position: center; */
  background-color: #161616;
}

.container-products article {
  background-color: #161616;
}

.container-products-absolute {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.01;

}

.container-products-absolute:hover {
  background-color: #161616cf;
  opacity: 1;
}
.container-products article .container-products-absolute div{
  left: 10%;
  bottom: 10%;
}
.container-products img {
  width: 300px;
}

.calendly-inline-widget {
  background-color: #161616;

}

/* .container-products img:hover {
  opacity: 0.1;
} */

@media (max-width: 1399px) {
  .container-products img {
    width: 250px;
  }
}

hr {
  width: 100px;
  opacity: 100%;
}

main {
    padding: 1rem;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  p {
    font-size: 1rem;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    text-decoration: underline;
  }